 * {
     box-sizing: border-box;
 }

 body {
     margin: auto;
     font-family: Arial, sans-serif;

 }

 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 0;
     background-color: white;
     position: fixed;
     top: 0;
     z-index: 1000;
 }

 header,
 main {
     padding-left: 7%;
     padding-right: 7%;
 }

 ul {
     display: flex;
     list-style-type: none;
     gap: 20px;
     margin: 0;
     padding: 0;
 }

 ul li a {
     text-decoration: none;
     color: rgb(120, 120, 120);
     font-weight: bold;
 }

 main {
     display: grid;
     gap: 30px;
     margin-top: 120px;
     grid-template-columns: repeat(6, 1fr);
     grid-template-areas: "ms ms ms ms sb sb"
         "ns ns ns ns ns ns";
 }

 .main-section {
     grid-area: ms;
 }

 .side-bar {
     grid-area: sb;
 }

 .nearby {
     grid-area: ns;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-areas: "heading heading heading"
         "station1 station2 station3"
         "station4 station5 station6";
     gap: 30px;
     margin-bottom: 80px;
 }


 .price-box,
 .report-counts,
 .gas-cont,
 .nearby>div {
     background-color: white;
     padding: 20px;
     border-radius: 10px;
     margin-top: 40px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .details {
     display: flex;
     justify-content: space-between;
 }

 .btn {
     display: flex;
     justify-content: end;
     gap: 20px;
     padding-top: 15px;

 }

 .reported {
     font-weight: bold;
     font-size: 20px;
     line-height: 2;
 }

 .approved {
     color: rgb(45, 185, 52);
     font-weight: bold;
     font-size: 14px;
     background-color: rgb(213, 241, 214);
     border-radius: 5px;
     padding: 8px;
     height: 30px;
 }

 .main-price {
     font-size: 50px;
     color: rgb(45, 185, 52);
     font-weight: bold;
     line-height: 1.7;

 }

 .litre {
     font-size: 25px;
     font-weight: 400;
     color: black;
 }

 .btn>button {
     border-radius: 10px 0px;
     padding: 5px;
     cursor: pointer;
 }

 aside>div {
     background-color: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     margin-bottom: 30px;
     position: sticky;
     top: 100px;
 }

 .station>div {
     line-height: 2;
 }

 .map {
     margin: auto;
     height: 200px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     justify-content: center;
     display: flex;
     align-items: center;
     font-size: 40px;
 }

 a>img {
     width: 25%;
 }

 .share>div {
     display: flex
 }

 .share>div>a {
     padding: 10px 0px;
     cursor: pointer;
     border: 1px solid black;
     border-radius: 10px 5px;
     margin-right: 15px;
     display: flex;
     justify-content: center;
 }

 .gas-cont>button {
     width: 100%;
     border-radius: 10px 3px;
     padding: 8px;
     background-color: transparent;
     border: 1px solid black;
 }

 .gas-cont>button:hover {
     background-color: rgb(10, 35, 66);
     color: white;
 }

 .heading {
     grid-area: heading;
 }

 .station-1 {
     grid-area: station1;
 }

 .station-2 {
     grid-area: station2;
 }

 .station-3 {
     grid-area: station3;
 }

 .station-4 {
     grid-area: station4;
 }

 .station-5 {
     grid-area: station5;
 }

 .nearby>div>div {
     display: flex;
     justify-content: space-between;
     height: 70px;
     align-items: center;
 }

 .price {
     color: rgb(45, 185, 52);
     font-weight: bold;
 }

 .petrol2 {
     margin-top: 190px;
 }

 .mrs {
     margin-top: 70px;
 }

 .nnpc {
     margin-top: 50px;
 }

 .nearby>div>button {
     width: 100%;
     background-color: transparent;
     border: 1px solid black;
     border-radius: 10px 3px;
     padding: 5px;
 }

 .nearby>div>button:hover {
     background-color: rgb(108, 117, 125);
     color: white;
 }

 footer {
     display: flex;
     justify-content: space-between;
     padding-left: 7%;
     padding-right: 7%;
     align-items: center;
 }

 .contact {
     width: 120px;
     border: 1px solid black;
     text-align: center;
     padding: 5px;
     border-radius: 15px 5px;
 }

 .contact:hover,
 .btn .direction:hover {
     background-color: rgb(10, 35, 66);
     color: white;
 }

 .btn .direction {
     color: rgb(10, 35, 66);
     background-color: transparent;
     padding: 2px 10px;
     font-size: 15px;
     border: 1px solid rgb(10, 35, 66);
 }

 .btn .false {
     color: red;
     font-size: 15px;
     border: 1px solid red;
     background-color: transparent;
     padding: 2px 10px;
 }

 .btn .false:hover {
     background-color: red;
     color: white;
 }

 .bar {
     width: 25px;
     height: 2px;
     background-color: black;
     margin: 6px 0;
 }

 .toggle_btn {
     border: 1px solid black;
     padding: 8px 15px;
     border-radius: 25%;
     display: none;
 }

 @media screen and (max-width: 768px) {
     .nav-items {
         display: none;
         position: absolute;
         top: 70px;
         left: 0;
         width: 100%;
         background-color: white;
         z-index: 10;
         padding: 20px 0;
         padding-left: 18%;
         box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
     }

     .logo>img {
         min-width: 40%;
     }

     ul li {
         margin-top: 15px;
     }

     header,
     main {
         padding-left: 18%;
         padding-right: 18%;
     }

     main {
         display: block;
     }

     .btn {
         display: block;
     }

     .toggle_btn {
         display: block;
     }

     .btn>button {
         width: 100%;
         margin-bottom: 15px;
     }

     aside>div {
         position: relative;
     }

     .nearby {
         display: block;
         margin-top: 200px;
     }

     footer {
         display: block;
         text-align: center;
     }
 }

 @media screen and (min-width: 769px) and (max-width: 991px) {
     .nav-items {
         display: none;
         position: absolute;
         top: 70px;
         left: 0;
         width: 100%;
         background-color: white;
         z-index: 10;
         padding: 20px 0;
         padding-left: 15%;
         box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
     }

     .toggle_btn {
         display: block;
     }

     main {
         display: block;
     }

     main,
     header {
         padding-left: 15%;
         padding-right: 15%;
     }

     ul li {
         margin-top: 15px;
     }

     .btn>button {
         width: 100%;
         margin-bottom: 15px;
     }

     .btn {
         display: block;
     }

     .main-section {
         margin-bottom: 10%;
     }

     aside>div {
         position: relative;
     }

     .share>div>a>img {
         width: 10%;
     }

     .nearby {
         display: grid;
          margin-top: 200px;
         grid-template-columns: repeat(4, 1fr);
         grid-template-areas: "heading heading heading heading"
             "station1 station1 station2 station2 "
             "station3 station3 station4 station4"
             "station5 station5 station6 station6";;
     }
     .nearby>h2{
        font-size: 30px;
        margin-bottom: 0px;
     }
     footer{
        display: block;
        text-align: center;
     }

 }
@media screen and (max-width: 526px){
    .details{
        display: block;
    }
    .approved{
        width: 80px;
    }
  }
